/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  margin: 0;
  background: #222;
  overflow: hidden;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
  height: 70px;
  background: #fff;
  border-bottom: 3px solid rgb(69, 214, 50);
  position: relative;
  z-index: 10;
}

.logo {
  font-family: "KoHo", sans-serif;
  font-size: 2.75rem;
  color: #000;
  letter-spacing: -3px;
  margin: 0;
  position: relative;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transform-origin: 0% 0%;
  transform: rotate(-12deg);
  z-index: -1;
  background: rgb(128, 0, 128);
}

.logo::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: #fff;
}

.app-actions button {
  font-size: 1rem;
  background: transparent;
  padding: 0.3em 0.9em;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease;
}

.app-actions button#login-btn:hover {
  background: rgb(128, 0, 128);
  color: #fff;
}

.app-actions button#register-btn:hover {
  background: rgb(0, 0, 0);
  color: #fff;
}

.app-actions button + button {
  margin-left: 0.75em;
}

/* User logged In button */

.dropdown {
  position: relative;
}

.dropdown .user-greet-btn {
  padding: 0.35em 1.1em;
  font-size: 1.1rem;
  border-radius: 4px;
  padding-right: 2.2em;
  position: relative;
  cursor: pointer;
}

.dropdown .user-greet-btn::after {
  content: "";
  position: absolute;
  border-top: 6px solid black;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 1.1em;
}

.user-greet-btn:hover,
.user-greet-btn:focus {
  background: rgba(27, 187, 48, 0.15);
}

.user-greet-btn span {
  color: rgb(128, 0, 128);
  font-weight: 700;
  pointer-events: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fefefe;
  width: 70%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: #ddd;
}

.show {
  display: block;
}

@media all and (max-width: 37.5em) {
  .top-navigation {
    height: 55px;
    padding: 0 1em;
  }

  .logo {
    font-size: 1.75rem;
  }

  .app-actions button {
    font-size: 0.85rem;
  }

  .app-actions button + button {
    margin-left: 0.3em;
  }
}

/* User navigation */
.login-navigation {
  position: fixed;
  top: -30px;
  left: -100px;
  z-index: 8;
}

.circle {
  background: #ff7979;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}

.login-navigation.show-nav .circle {
  transform: rotate(-90deg);
}

.circle button {
  font-size: 1.625rem;
  position: absolute;
  top: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}

#open-user-menu {
  right: 25%;
  transform: translate(25%, -75%);
}

#close-user-menu {
  left: 25%;
  transform: translate(-25%, -75%);
}

nav.login-navigation-items {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 2;
}

nav.login-navigation-items ul {
  list-style-type: none;
  padding-left: 30px;
}

nav.login-navigation-items ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translate(-150%);
  transition: transform 0.3s ease-in;
  text-align: center;
  cursor: pointer;
}

nav.login-navigation-items ul li a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

nav.login-navigation-items ul li:hover {
  opacity: 0.75;
}

nav.login-navigation-items ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav.login-navigation-items ul li + li {
  margin-left: 30px;
  transform: translate(-200%);
}

.login-navigation.show-nav + nav.login-navigation-items li {
  transform: translateX(0%);
  transition-delay: 0.15s;
}

#app {
  background: rgb(8, 135, 219);
  height: 200vh;
  transform-origin: top left;
  transition: all 0.3s linear;
}

#app.show-nav {
  transform: rotate(-20deg);
}

@media (orientation: portrait) {
  #app.show-nav {
    transform: rotate(-10deg);
  }
}

/* FORMS */
.actions-form {
  width: 50%;
  max-width: 450px;
  margin: 2vh auto;
  padding: 2em;
  background: #fff;
  border: 2px solid rgb(194, 194, 194);
  z-index: 50;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-form {
  position: absolute;
  top: 12px;
  font-size: 35px;
  right: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}

.close-form:hover {
  color: rgb(128, 0, 128);
}

.actions-form form {
  margin: 1.5em 0;
}

.form-type {
  font-size: 2.25rem;
  text-align: center;
  margin: 0;
}

.form-text {
  margin: 0.3em 0 0 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  color: rgb(128, 0, 128);
}
.actions-form input {
  font-family: inherit;
  font-size: 1.25rem;
  color: rgb(71, 71, 71);
  width: 100%;
  padding: 0.75em;
  outline: none;
  margin-top: 0.5em;
}

/* Recaptcha */
.recaptcha-container {
  display: inline-block;
  margin-top: 1.5em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.actions-form input[type="submit"] {
  background: rgb(128, 0, 128);
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 0.75em;
}

.actions-form input[type="submit"]:hover {
  background: #000;
}

.actions-form label {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 900;
  display: inline-block;
  margin-top: 1.5em;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.forgot-password,
.create-account,
.login {
  font-size: 1.1rem;
  border: none;
  background: transparent;
  color: rgb(8, 135, 219);
  text-decoration-color: rgb(184, 184, 184);
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.forgot-password:hover,
.create-account:hover,
.login:hover {
  border-bottom-color: rgb(8, 135, 219);
}

.error-msg,
.success-msg {
  font-size: 1.2rem;
  margin: 1em 0 0 0;
  font-weight: 700;
  text-align: center;
}

.error-msg {
  color: rgb(255, 0, 0);
}

.success-msg {
  color: rgb(27, 187, 48);
}

#activation-form {
  max-width: 550px;
}

#activation-form h2 {
  margin-bottom: 1em;
}

#activation-form .form-text {
  letter-spacing: 0.5px;
  line-height: 1.3;
}

#activation-form .activation-email {
  color: #000;
}

/* Remove Arrows from input */
/* Chrome, Safari, Edge, Opera */
#activation-form input::-webkit-outer-spin-button,
#activation-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#activation-form input[type="number"] {
  width: 18%;
  font-size: 1.3rem;
  font-weight: 700;
  border: 3px solid #000;
  padding: 0.4 0.5em;
  text-align: center;
  margin: 0 0.2em;
}

#activation-form input[type="number"]:focus {
  border-bottom-color: rgb(128, 0, 128);
  border-top-color: rgb(128, 0, 128);
}

#activation-form input[type="email"] {
  display: none;
}

#activation-form button {
  font-family: inherit;
  font-size: 1.2rem;
  color: #fff;
  background: rgb(40, 163, 194);
  width: 100%;
  padding: 1.2em 0;
  text-transform: uppercase;
  border: none;
  margin-top: 1.3em;
  cursor: pointer;
}

#activation-form button:hover {
  background: rgb(18, 106, 128);
}

#activation-form button i {
  margin-left: 0.9em;
}

@media all and (max-width: 45.5em) {
  .actions-form {
    width: 90%;
  }
}

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 25;
}

.visible {
  display: block;
}
